div.fill {
    background-color: #eeeeee;
    float: left;
    height: 200px;
    width: 200px;
    border: 1px #434343 solid;
    margin: 20px;
}

#fill_1_1 {
    background-color: #99f9f9;
    float: left;
    height: 180px;
    width: 120px;
    border: 1px #434343 solid;
}

#fill_1_2 {
    background-color: #9999f9;
    height: 120px;
    width: 180px;
    border: 1px #434343 solid;
}

#fill_2 {
    background-color: #eeeeee;
    height: 200px;
    width: 200px;
    border: 1px #434343 solid;
}

#fill_2_1 {
    background-color: #99f9f9;
    float: left;
    height: 120px;
    width: 180px;
    border: 1px #434343 solid;
}

#fill_2_2 {
    background-color: #9999f9;
    height: 180px;
    width: 120px;
    border: 1px #434343 solid;
}

#fill_2_3 {
    background-color: #f9f999;
    float: right;
    height: 40px;
    width: 40px;
    border: 1px #434343 solid;
}

#fill_2_4 {
    background-color: #f999f9;
    float: right;
    height: 40px;
    width: 40px;
    border: 1px #434343 solid;
}

#fill_3_1 {
    background-color: #99f9f9;
    float: left;
    height: 80px;
    width: 50px;
    border: 1px #434343 solid;
}

#fill_4 {
background-color: #f9f999;
height: 100px;
width: 100px;
border: 1px #434343 solid;
}

