#fill1 {
background-color: #99f9f9;
border-top: 1px #cccccc solid;
border-bottom: 1px #cccccc solid;
font-size: 80%;
}

#fill2 {
background-color: #9999f9;
border-top: 1px #cccccc solid;
border-bottom: 1px #cccccc solid;
font-size: 80%;
}

#fill3 {
background-color: #f999f9;
border-top: 1px #cccccc solid;
border-bottom: 1px #cccccc solid;
font-size: 80%;
}

#fill4 {
background-color: #f9f999;
border-top: 1px #cccccc solid;
border-bottom: 1px #cccccc solid;
font-size: 80%;
}

